.DS_Store
.dart_tool/
doc/api/

.packages
.pub/

build/
.idea
.metadata
nb_utils.iml
pubspec.lock

example/pubspec.lock
example/.idea
example/.dart_tool
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.metadata
example/nb_utils_example.iml
